/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 300;
}
h2{
    font-size: 32px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 300;
   
}

section.section-padding {
    padding: 80px 0;
}

.section-heading {
    text-align: center;
    margin-bottom: 80px;
}

.single-feature-item {
    margin-bottom: 40px;
}

.border-img {
    height: 120px;
    width: 100%;
    background: #ddd;
    position: relative;
    border: 1px solid #fff;
}

.border-img:after {
    position: absolute;
    background: #6aaf08;
    bottom: -5px;
    right: -6px;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.single-feature-item h3 {
    border-bottom: 1px dashed #6aaf08;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #333;
}

body {
    color: #565;
    line-height: 1.9;
    font-size: 15px;
}

.big-featured-bordered-img {
    height: 420px;
    width: 100%;
    background: #ddd;
    margin-left: 30px;
    position: relative;
}

.big-featured-bordered-img:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.big-featured-bordered-img:before {
    position: absolute;
    left: -10px;
    top: 10px;
    width: 100%;
    height: 100%;
    content: "";
    background: #6aaf08;
    z-index: -1;
}

.section-heading h2 {
    color: #444;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

.border-title span {
    background: #66a908;
    display: inline-block;
    border-radius: 2px;
    height: 4px;
    width: 35px;
}

.border-title span.special {
    background: #444;
    margin: 0 5px;
    width: 20px;
}